extends ../layouts/main-layout.pug
block head
  link(rel="stylesheet", href="/libraries/css/product.css")
  link(rel="stylesheet", href="/libraries/css/_form.css")
block content
  .container
    main(style="padding: 1.5rem 0; text-align: center")
      h2.secondary-text #{ product.title }
      div.details
        img(src=`${ product.imageUrl }`, alt=`${ product.title }`, style="height: 20rem")
        p.product__description #{ product.description }
        span.product__price $ #{ product.price }
      form(action=`/cart/${ product.id }/add-product`, method="post")
        input(type="hidden", name="productId")
        .form-control
          button.btn.primary-bg(alt="Add to cart")
            i.fas.fa-fw.fa-shopping-cart
            span Add to cart
      .form-control
        a.btn(href="/products")
          i.fas.fa-fw.fa-arrow-left
          span Back