extends ../layouts/main-layout.pug
block head
  link(rel="stylesheet" href="/libraries/css/product.css")
  link(rel="stylesheet" href="/libraries/css/_card.css")
block content
  .container
    main(style="padding: 1.5rem 0")
      .main-title
        span.secondary-text Products
        span.primary-text  for you! 
      span.subtitle Check out our catalog!
      if products.length > 0
        .grid(style="padding: 3rem 0")
          each product in products
            .card.product
              .card__header
                h2.product__title.secondary-text #{ product.title }
              .card__image
                img(src=`${ product.imageUrl }` alt=`${ product.title }`)
              .card__content                
                p.product__description #{ product.description }
                p.product__price $#{ product.price }
              .card__actions
                form(action=`/cart/${ product._id }/add-product`, method="post")
                  button.btn.primary-bg(alt="Add to cart")
                    i.fas.fa-fw.fa-shopping-cart
                a.btn(href=`/products/${ product._id }`)
                  i.fas.fa-fw.fa-info
      else
        h1 Products not found