extends ../../layouts/main-layout.pug
block head
  link(rel="stylesheet", href="/libraries/css/product.css")
  link(rel="stylesheet", href="/libraries/css/_card.css")
block content
  .container
    main(style="padding: 1.5rem 0")
      .main-title
        span.secondary-text Products
        span.primary-text  for you! 
      span.subtitle Check out our catalog!
      .grid(style="padding: 3rem 0")
        include add-product-card.pug
        if products.length > 0
          each product in products
            .card.product
              .card__header
                h2.product__title.secondary-text #{ product.title }
              .card__image
                  img(src=`${ product.imageUrl }` alt=`${ product.title }`)
              .card__content                
                p.product__description #{ product.description }
                p.product__price $#{ product.price }
              .card__actions
                a.btn.primary-bg(href=`products/${ product.id }/edit-product` alt="Edit product")
                  i.fas.fa-fw.fa-edit
                form(action=`/admin/products/${ product.id }/delete-product` method="post")
                  input(type="hidden", name="productId")
                  button.btn(alt="Delete product")
                    i.fas.fa-fw.fa-trash