extends ../../layouts/main-layout.pug
block head
  link(rel="stylesheet", href="/libraries/css/_form.css")
block content
  .container.is-fluid
    main(style="padding: 1.5rem 0")
      .columns.is-centered 
        .column.is-half
          h1.title.secondary-text Product Management
          form(action=`/admin/products/${ editing ?  product.id + '/edit-product' : 'add-product' }`, method="post") 
            .form-control
              label.label Title
              input.input(placeholder="Put some title", name="title", 
              value=`${ editing ? product.title : '' }`)
            .form-control
              label.label URL
              input.input(type="url", placeholder="Put some image here", name="imageUrl", 
              value=`${ editing ? product.imageUrl : '' }`)
            .form-control
              label.label Description
              textarea.textarea(placeholder="Put some description", name="description", rows="10")
                | #{ editing ? product.description : '' }
            .form-control
              label.label Price
              input.input(placeholder="Put some price", name="price", 
              value=`${ editing ? product.price : '' }`)

            if editing
              input.input(type="hidden" name="productId" value=`${ product.id }`)

            .form-control
              button.btn.btn-primary #{ editing ? 'Update Product' : 'Add Product' }